Bulk Brief Tool Workflow V2 (1).json
{
  "name": "Bulk Brief Tool Workflow V2",
  "nodes": [
    {
      "parameters": {},
      "id": "3f70895e-2a1a-4aa5-95af-b061076be24a",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "content": "# Upload Your CSV File\n\nYour CSV should have columns named: **keyword** and **country**\n\nExample:\n```\nkeyword,country\ntop 10 hotels in london,uk\nbest ai tools for beginners,us\nbest coffee shop in melbourne,au\n```\n\nUpload the file in the next node.",
        "height": 300,
        "width": 400
      },
      "id": "636e0a6c-6c97-4ebc-99f3-835ab37a8678",
      "name": "Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -192
      ]
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/1x7IpYnHqQk6QLWoaUPRsskn0H5mFyCn0jlMWk6KkOOo/export?format=csv&gid=0",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        160
      ],
      "id": "7adcea59-0950-41b5-a367-b313aa93574b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "id": "ab144d61-95f5-4cf1-84fc-69e93f1b81f0",
      "name": "Read CSV File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        432,
        160
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5fd8e565-fee8-4d18-84b9-2ea3e2d36e69",
      "name": "Loop Over Keywords",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        656,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.keyword }}"
            },
            {
              "name": "num",
              "value": "10"
            },
            {
              "name": "gl",
              "value": "={{ ({'australia':'au','au':'au','united states':'us','usa':'us','us':'us','india':'in','in':'in','canada':'ca','ca':'ca','united kingdom':'gb','uk':'gb','gb':'gb','great britain':'gb','new zealand':'nz','nz':'nz','south africa':'za','za':'za'}[(($json.country || '') + '').toLowerCase()] || (($json.country || '') + '').toLowerCase()) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c11b7291-da6e-494b-a0f4-225138af61f6",
      "name": "Google Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        880,
        160
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ksGjodRCwYtlHyOv",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const searchResults = $input.item.json.organic || [];\nconst keyword = $input.item.json.keyword || $('Loop Over Keywords').item.json.keyword;\nconst country = $input.item.json.country || $('Loop Over Keywords').item.json.country;\n\nconst excludedDomains = [\n  'reddit.com', 'facebook.com', 'instagram.com',\n  'twitter.com', 'x.com', 'tiktok.com', 'pinterest.com',\n  'youtube.com', 'linkedin.com'\n];\n\nfunction shouldExclude(url) {\n  const lowerUrl = (url || '').toLowerCase();\n  return excludedDomains.some(domain => lowerUrl.includes(domain));\n}\n\nconst cleanResults = [];\nfor (const result of searchResults) {\n  if (!result.link) continue;\n  if (shouldExclude(result.link)) continue;\n\n  cleanResults.push({\n    title: result.title || '',\n    link: result.link || '',\n    snippet: result.snippet || '',\n    position: result.position || 0\n  });\n\n  if (cleanResults.length >= 10) break;\n}\n\nreturn {\n  json: {\n    filtered_results: cleanResults,\n    keyword,\n    country\n  }\n};"
      },
      "id": "65372ad9-818c-47d7-ba38-c2a673d303ee",
      "name": "Filter Search Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const filteredResults = $input.item.json.filtered_results || [];\nconst keyword = $input.item.json.keyword;\nconst country = $input.item.json.country;\n\nconst promptText = `SEARCH RESULTS:\n\n${JSON.stringify(filteredResults, null, 2)}\n\nKEYWORD: ${keyword}\nCOUNTRY / REGION: ${country || 'Not specified'}\n\nTASK: From the search results above, select the best 5 URLs that would provide the most comprehensive information for creating a content brief about '${keyword}'.\n\nExclude any URLs that:\n- Cannot be scraped reliably\n- Are from social media, forums, or profile pages\n- Are too general or not specific to the keyword\n\nPrioritize pages that clearly match the query intent and target location if a country/region is provided.\n\nReturn ONLY a JSON array with this exact structure:\n[\n  {\"title\": \"...\", \"link\": \"...\", \"snippet\": \"...\"},\n  {\"title\": \"...\", \"link\": \"...\", \"snippet\": \"...\"}\n]\n\nNo other text or explanation. Just the JSON array.`;\n\nreturn {\n  json: {\n    geminiPayload: {\n      contents: [{ parts: [{ text: promptText }] }],\n      generationConfig: {\n        temperature: 0.1,\n        maxOutputTokens: 8192\n      }\n    },\n    keyword,\n    country,\n    filtered_results: filteredResults\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        160
      ],
      "id": "7cb22100-49f6-423d-8a48-ffa60b7288d8",
      "name": "Prepare Gemini Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ $input.item.json.geminiPayload.contents }}"
            },
            {
              "name": "generationConfig",
              "value": "={{ $input.item.json.geminiPayload.generationConfig }}"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          },
          "timeout": 60000
        }
      },
      "id": "c4175f49-d3c2-4f1e-a7c6-1e25ad705328",
      "name": "Gemini Filter Top URLs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1520,
        160
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "FeflThNte3ELU58S",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const geminiResponse = $input.item.json;\nlet contentText = '';\n\nif (geminiResponse.candidates && geminiResponse.candidates[0]) {\n  const parts = geminiResponse.candidates[0].content.parts;\n  if (parts && parts[0]) {\n    contentText = parts[0].text || '';\n  }\n}\n\ncontentText = contentText.replace(/\\`\\`\\`json/g, '').replace(/\\`\\`\\`/g, '').trim();\n\nfunction extractJsonArray(text) {\n  const start = text.indexOf('[');\n  const end = text.lastIndexOf(']');\n  if (start === -1 || end === -1) return [];\n  try {\n    return JSON.parse(text.substring(start, end + 1));\n  } catch (e) {\n    console.error('Failed to parse JSON:', e);\n    return [];\n  }\n}\n\nconst previous = $('Prepare Gemini Request').item.json;\nconst urls = extractJsonArray(contentText);\n\nreturn {\n  json: {\n    urls: urls.length ? urls.slice(0, 5) : (previous.filtered_results || []).slice(0, 5),\n    keyword: previous.keyword,\n    country: previous.country,\n    filtered_results: previous.filtered_results || []\n  }\n};"
      },
      "id": "dbab7e54-d344-4fc6-a9c1-4b1da3a0512a",
      "name": "Extract URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        160
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "796ea36f-4360-4d5d-8133-8054c2e44d6e",
      "name": "Split URLs",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        1968,
        160
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.urls.link }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "1cb2358c-55d1-4456-8ac8-181068266825",
      "name": "Scrape Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2384,
        160
      ],
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"WEBPAGE CONTENT:\\n\\n{{ $json.body || $json.data || 'Content not available' }}\\n\\nSOURCE URL: {{ $('Split URLs').item.json.urls.link }}\\n\\nKEYWORD: {{ $('Extract URLs').item.json.keyword }}\\nCOUNTRY / REGION: {{ $('Extract URLs').item.json.country || 'Not specified' }}\\n\\nTASK: Analyze this webpage and extract:\\n1. Main heading structure (H1, H2, H3)\\n2. Key topics covered\\n3. Word count estimate\\n4. Unique angles or approaches\\n5. Content format (guide, listicle, article, etc.)\\n6. Notable features (FAQs, tables, examples, etc.)\\n7. Named entities, places, brands, products, or venues explicitly mentioned\\n8. Specific factual attributes a writer must include to satisfy search intent\\n9. Whether the content is localized and how strongly it reflects the target geography\\n\\nFocus ONLY on content relevant to '{{ $('Extract URLs').item.json.keyword }}'. Strip away navigation, ads, and boilerplate.\\n\\nProvide a detailed summary and end with:\\nSource: {{ $('Split URLs').item.json.urls.link }}\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.3,\n    \"maxOutputTokens\": 4000\n  }\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 15000
            }
          },
          "timeout": 60000
        }
      },
      "id": "fbd005b0-c803-479b-81d0-51400c583804",
      "name": "Gemini Summarize Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2608,
        160
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "NnT2lPUwp0APDTWu",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "6a11d098-8cec-4420-b9a9-9de9ce5464bf",
      "name": "Aggregate Summaries",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2832,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst upstream = $('Extract URLs').item.json;\nconst keyword = upstream.keyword;\nconst country = upstream.country;\n\nconst summaries = allItems.map(item => {\n  if (item.json.candidates && item.json.candidates[0]) {\n    const parts = item.json.candidates[0].content.parts;\n    if (parts && parts[0]) {\n      return parts[0].text;\n    }\n  }\n  return '';\n}).filter(Boolean);\n\nfunction extractListCount(text) {\n  const match = text.match(/\\b(?:top|best|leading)\\s+(\\d{1,2})\\b/i) || text.match(/\\b(\\d{1,2})\\s+(?:best|top)\\b/i);\n  return match ? Number(match[1]) : null;\n}\n\nconst lowerKeyword = (keyword || '').toLowerCase();\nconst listCount = extractListCount(lowerKeyword);\nconst isComparison = /\\b(vs|versus|compare|comparison)\\b/i.test(lowerKeyword);\nconst isListicle = /\\b(best|top|list|ideas|examples|types)\\b/i.test(lowerKeyword) || Boolean(listCount);\nconst isLocal = /\\b(in|near|around)\\b/i.test(lowerKeyword) || Boolean(country);\nconst isHowTo = /\\b(how to|guide|tips|ways|what is)\\b/i.test(lowerKeyword);\nconst isHospitality = /\\b(hotel|hotels|restaurant|restaurants|cafe|cafes|coffee shop|coffee shops|resort|resorts|bar|bars)\\b/i.test(lowerKeyword);\nconst isCommercial = /\\b(price|pricing|cost|buy|service|agency|company|software|tool|tools|platform)\\b/i.test(lowerKeyword);\n\nlet keywordType = 'informational';\nlet articleFormat = 'guide';\nlet inferredIntent = 'informational';\n\nif (isComparison) {\n  keywordType = 'comparison';\n  articleFormat = 'comparison page';\n  inferredIntent = 'commercial investigation';\n} else if (isListicle && isLocal && isHospitality) {\n  keywordType = 'localized ranked list';\n  articleFormat = 'ranked local listicle';\n  inferredIntent = 'local commercial investigation';\n} else if (isListicle) {\n  keywordType = 'ranked list';\n  articleFormat = 'listicle';\n  inferredIntent = isCommercial ? 'commercial investigation' : 'informational';\n} else if (isHowTo) {\n  keywordType = 'how-to';\n  articleFormat = 'step-by-step guide';\n  inferredIntent = 'informational';\n} else if (isCommercial) {\n  keywordType = 'commercial page';\n  articleFormat = 'buyer guide';\n  inferredIntent = 'commercial investigation';\n}\n\nconst competitor_analysis = summaries.join('\\n\\n---\\n\\n');\n\nreturn {\n  keyword,\n  country,\n  competitor_analysis,\n  num_competitors: summaries.length,\n  keyword_signals: {\n    keywordType,\n    articleFormat,\n    inferredIntent,\n    listCount,\n    isLocal,\n    isHospitality,\n    isCommercial,\n    isComparison,\n    isHowTo,\n    filteredResults: upstream.filtered_results || []\n  }\n};"
      },
      "id": "0dda4a97-a6d3-4896-a90e-927b217d81d8",
      "name": "Combine Summaries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"You are Britta, an expert content strategist AI that creates detailed content briefs.\\n\\nKEYWORD: {{ $json.keyword }}\\nCOUNTRY / REGION: {{ $json.country || 'Not specified' }}\\nKEYWORD SIGNALS:\\n{{ JSON.stringify($json.keyword_signals, null, 2) }}\\n\\nCOMPETITOR ANALYSIS:\\n{{ $json.competitor_analysis }}\\n\\nTASK: Create a comprehensive content brief following this exact structure:\\n\\nCONTENT BRIEF: {{ $json.keyword }}\\n\\n===================================\\nPAGE TITLE OPTIONS\\n===================================\\nProvide 3 title options based on the actual intent, locale, and competitor coverage.\\n1. [Title 1]\\n2. [Title 2]\\n3. [Title 3]\\n\\n===================================\\nHEADING STRUCTURE\\n===================================\\nH1: [Main heading]\\n\\nH2: [Section 1]\\nWriter Notes:\\n- Key points: [specific points based on intent, locale, and competitor evidence]\\n- Research needed: [specific factual details and entities to collect]\\n- Style guide: [tone and approach recommendations]\\n- Examples: [specific examples, entities, and references from competing pages]\\n- Watch out for: [pitfalls and weak patterns to avoid]\\n\\n  H3: [Subsection 1.1]\\n  H3: [Subsection 1.2]\\n\\n[Continue with the H2/H3 structure that best fits the keyword. Do not force generic sections.]\\n\\n===================================\\nFAQS\\n===================================\\n1. [Question 1]\\n2. [Question 2]\\n3. [Question 3]\\n4. [Question 4]\\n5. [Question 5]\\n6. [Question 6]\\n\\n===================================\\nCONTENT SPECIFICATIONS\\n===================================\\nWord Count Range: [X - Y words based on competitor analysis]\\nPage Goal: [Primary objective]\\nTarget Persona: [Audience description]\\nPage Format: [Recommended format]\\n\\n===================================\\nTECHNICAL SEO ELEMENTS\\n===================================\\nMeta Description Options:\\n1. [Meta description 1]\\n2. [Meta description 2]\\n\\nURL Structure: [recommended URL format]\\n\\nKeyword Clusters:\\n- Primary: {{ $json.keyword }}\\n- Secondary: [related keywords from analysis]\\n- Long-tail: [long-tail variations]\\n\\nEntity Recommendations:\\n- [entity 1]\\n- [entity 2]\\n- [entity 3]\\n\\nSemantic Search Terms:\\n- [term 1]\\n- [term 2]\\n- [term 3]\\n\\n===================================\\nCONTENT ENHANCEMENT IDEAS\\n===================================\\nLists/Tables:\\n- [suggestion 1]\\n- [suggestion 2]\\n\\nEEAT Incorporation:\\n- [EEAT element 1]\\n- [EEAT element 2]\\n\\nCTA Recommendations:\\n- [CTA placement and messaging]\\n\\nExternal Linking Strategy:\\n- [linking recommendations]\\n\\nMedia Placement:\\n- [media suggestions]\\n\\n===================================\\nOPPORTUNITIES & GAPS\\n===================================\\n[List content gaps found in competitor analysis]\\n\\n===================================\\nEND OF BRIEF\\n===================================\\n\\nCritical rules:\\n- The heading structure must be customized to the keyword. Do not reuse generic sections like 'How to choose' or 'Common use cases' unless the competitor set clearly supports them.\\n- If the keyword implies a list of real places, products, or services, the brief must tell the writer to include actual named entities and the factual attributes needed for each entry.\\n- If the keyword is localized, explicitly reflect the target geography and local search expectations.\\n- Only ask for menu items or signature dishes when the topic is food/hospitality related.\\n- Keep the brief actionable for SurferSEO-style scoring by using specific entities, semantically related terms, and intent-aligned subsections.\\n\\nGenerate the complete brief based STRICTLY on the keyword signals and competitor analysis provided. Be specific and actionable.\"\n    }]\n  }],\n  \"generationConfig\": {\n    \"temperature\": 0.4,\n    \"maxOutputTokens\": 8000\n  }\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 5000
            }
          },
          "timeout": 60000
        }
      },
      "id": "852911ac-f775-4c34-8438-1155611a6162",
      "name": "Gemini Generate Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3264,
        160
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "21rN6MYa766iYP6f",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const geminiResponse = $input.item.json;\nlet briefContent = '';\n\nif (geminiResponse.candidates && geminiResponse.candidates[0]) {\n  const parts = geminiResponse.candidates[0].content.parts;\n  if (parts && parts[0]) {\n    briefContent = parts[0].text;\n  }\n}\n\nconst upstream = $('Combine Summaries').item.json;\nconst keyword = upstream.keyword;\nconst country = upstream.country;\n\nif (!keyword) {\n  return {\n    filename: 'brief_unknown.txt',\n    keyword: 'unknown',\n    country,\n    brief_content: briefContent,\n    timestamp: new Date().toISOString()\n  };\n}\n\nconst filename = `brief_${keyword.replace(/\\s+/g, '_')}.txt`;\nconst timestamp = new Date().toISOString();\nconst finalBrief = `${briefContent}\\n\\n---\\nGenerated: ${timestamp}\\n`;\n\nreturn {\n  filename,\n  keyword,\n  country,\n  brief_content: finalBrief,\n  timestamp\n};"
      },
      "id": "939ed4da-6254-4656-9e91-9674a42e55e8",
      "name": "Format Brief",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3488,
        160
      ]
    },
    {
      "parameters": {},
      "id": "6eb8c9fa-dc0e-4a77-bd13-820d2e12db2b",
      "name": "Loop Back",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3696,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst briefs = allItems.map(item => ({\n  keyword: item.json.keyword,\n  country: item.json.country,\n  filename: item.json.filename,\n  brief_content: item.json.brief_content,\n  timestamp: item.json.timestamp\n}));\n\nreturn briefs.map(brief => ({\n  json: brief,\n  binary: {\n    data: {\n      data: Buffer.from(brief.brief_content).toString('base64'),\n      mimeType: 'text/plain',\n      fileName: brief.filename\n    }\n  }\n}));"
      },
      "id": "e8b766bc-6343-401d-8fea-cd3f5fc95e0d",
      "name": "Collect All Briefs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3696,
        368
      ]
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2176,
        160
      ],
      "id": "0833b262-3a5a-4a8c-9827-afe416d3f25b",
      "name": "Wait",
      "webhookId": "efaeed9e-faac-4b80-9419-f5dfb84c00ba"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Read CSV File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV File": {
      "main": [
        [
          {
            "node": "Loop Over Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Keywords": {
      "main": [
        [
          {
            "node": "Collect All Briefs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "main": [
        [
          {
            "node": "Filter Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Search Results": {
      "main": [
        [
          {
            "node": "Prepare Gemini Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Gemini Request": {
      "main": [
        [
          {
            "node": "Gemini Filter Top URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Filter Top URLs": {
      "main": [
        [
          {
            "node": "Extract URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract URLs": {
      "main": [
        [
          {
            "node": "Split URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split URLs": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Website": {
      "main": [
        [
          {
            "node": "Gemini Summarize Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Summarize Content": {
      "main": [
        [
          {
            "node": "Aggregate Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Summaries": {
      "main": [
        [
          {
            "node": "Combine Summaries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Summaries": {
      "main": [
        [
          {
            "node": "Gemini Generate Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Generate Brief": {
      "main": [
        [
          {
            "node": "Format Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Brief": {
      "main": [
        [
          {
            "node": "Loop Back",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Back": {
      "main": [
        [
          {
            "node": "Loop Over Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Scrape Website",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "da38b0fa-e589-4b37-a1d6-6e8188452f7b",
  "meta": {
    "instanceId": "667bd79c681138e570586bf354733d259b23672571a21e0fecfe1dee1cb587ae"
  },
  "id": "3ESrFl077v85KaQp",
  "tags": []
}